input.inputBox {
    background: white;
    height: clamp(40px, 2vw, 60px); /* Tinggi minimum 40px, proporsional dengan 2vw, maksimum 60px */
    width: clamp(90%, 28vw, 500px);
    border-radius: 3px;
    border: 1px solid gray;
}

.calendarWrap {
    display: inline-block;
    position: relative;
}

.calendarElement {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    border: 1px solid #ccc;
    z-index: 999;
}